<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Docker</title>
    <style>
        body {
            background-color: white;
            font-family: Arial, sans-serif;
        }
        .message {
            color: black;
            background-color: yellow;
            font-size: 20px;
            padding: 10px;
            text-align: top;
            margin-top: 20%;
        }
    </style>
</head>
<body>
    <div class="message">
        Hello Docker!
    </div>
</body>
</html>
